
<nav class="navbar navbar-expand-sm navbar-dark bg-primary" >

    
        <a class="navbar-brand" href="#">LibraryManagementSyste</a>
       
        <div  class="fa fa-align-center" aria-hidden="true">
            
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0" *ngIf='!homeclicked && !islibrarianlogin && !isadminlogin && !isstudentlogin'>
    
                    <li class="nav-item active"  >
                        
                            <a class="nav-link" href="home">Home <span class="sr-only">(current)</span></a>
                           
                        </li>
    
                 </ul>
    
            
                       
                        <ul  class="navbar-nav ml-auto mt-2 mt-lg-0" *ngIf='homeclicked && !islogin'>
          
    
                        <li class="nav-item active" >
                                <a class="nav-link" href="login">Login <span class="sr-only">(current)</span></a>
                            </li>
                
                        </ul>
    
    
                
        </div>
        <ul  *ngIf='isadminlogin' >
    
                        <div class="dropdown" >
                               
                                <button class="btn btn-dark dropdown-toggle" type="button" id="triggerId" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">
                                            adminoperations
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="triggerId">
    
                       
                            <li class="nav-item active" >
                                    <a class="nav-link" href="admin-operation"(click)=add()>adduser <span class="sr-only">(current)</span></a>
                                </li>
                    
                                <li class="nav-item active" >
                                    <a class="nav-link" href="admin-operation">updateowner<span class="sr-only">(current)</span></a>
                                </li>
                    
                                <li class="nav-item active" >
                                    <a class="nav-link" href="admin-operation">deleteowner <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item active" >
                                        <a class="nav-link" href="admin-operation">showallstudent <span class="sr-only">(current)</span></a>
                                    </li>
    
                                <li class="nav-item-active" >
                                        <a class="nav-link" routerLink="logout" (click)='logout()'>logout</a>
                                    </li>
                           
                            </div>
                        </div>
                    </ul>   
    
                    <ul  *ngIf='islibrarianlogin' >
    
                            <div class="dropdown" >
                                   
                                    <button class="btn btn-dark dropdown-toggle" type="button" id="triggerId" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">
                                                owneroperations
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="triggerId">
        
                           
                                <li class="nav-item active" >
                                        <a class="nav-link" href="addbus">addbus <span class="sr-only">(current)</span></a>
                                    </li>
                        
                                    <li class="nav-item active" >
                                        <a class="nav-link" href="updatebus ">updatebus <span class="sr-only">(current)</span></a>
                                    </li>
                        
                                    <li class="nav-item active" >
                                        <a class="nav-link" href="deletebus ">deletebus  <span class="sr-only">(current)</span></a>
                                    </li>
                                    <li class="nav-item active" >
                                            <a class="nav-link" href="showallbus ">showallbus  <span class="sr-only">(current)</span></a>
                                        </li>
                                        <li class="nav-item active" >
                                                <a class="nav-link" href="searchbus ">searchbus  <span class="sr-only">(current)</span></a>
                                            </li>
        
                                    <li class="nav-item-active" >
                                            <a class="nav-link" routerLink="logout" (click)='logout()'>logout</a>
                                        </li>
                               
                                </div>
                            </div>
                        </ul>   
    
    
                        <ul  *ngIf='isstudentlogin' >
    
                                <div class="dropdown" >
                                       
                                        <button class="btn btn-dark dropdown-toggle" type="button" id="triggerId" data-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false">
                                                    cusstomeroperations
                                                </button>
                                                <div class="dropdown-menu" aria-labelledby="triggerId">
            
                               
                                    <li class="nav-item active" >
                                            <a class="nav-link" href="updateprofile">updateprofile <span class="sr-only">(current)</span></a>
                                        </li>
                            
                                        <li class="nav-item active" >
                                            <a class="nav-link" href="deleteprofile ">deleteprofile <span class="sr-only">(current)</span></a>
                                        </li>
                            
                                        <li class="nav-item active" >
                                            <a class="nav-link" href="bookticket ">bookticket  <span class="sr-only">(current)</span></a>
                                        </li>
                                        <li class="nav-item active" >
                                                <a class="nav-link" href="showallbus ">showallbus  <span class="sr-only">(current)</span></a>
                                            </li>
                                            <li class="nav-item active" >
                                                    <a class="nav-link" href="searchbus ">searchbus  <span class="sr-only">(current)</span></a>
                                                </li>
            
                                        <li class="nav-item-active" >
                                                <a class="nav-link" routerLink="logout" (click)='logout()'>logout</a>
                                            </li>
                                   
                                    </div>
                                </div>
                            </ul>   
            </nav>
                
        