<nav class="navbar navbar-expand-sm navbar-light bg-dark">
    <h1 class="navbar-brand text-light" href="#">LibraryManagementSystem</h1>

    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

        <a class="nav-link text-light " *ngIf='isAdminLogin()' routerLink="admin-home"> HOME |<span
                class="sr-only">(current)</span></a>

        <a class="nav-link text-light " *ngIf='isAdminLogin()' routerLink="adduser">ADD USER |<span
                class="sr-only">(current)</span></a>

        <a class="nav-link text-light " *ngIf='isAdminLogin()' routerLink="admin-operation">VIEW ALL USER <span
                class="sr-only">(current)</span></a>

        <a class="nav-link text-light " *ngIf='isLibrarianLogin()' routerLink="librarian-home">HOME | <span
                class="sr-only">(current)</span></a>

        <a class="nav-link text-light " *ngIf='isLibrarianLogin()' routerLink="addbook">ADD BOOK |<span
                class="sr-only">(current)</span></a>

        <a class="nav-link text-light " *ngIf='isLibrarianLogin()' routerLink="librarian-operation">SHOW ALL BOOKS | <span
                class="sr-only">(current)</span></a>

        <a class="nav-link text-light " *ngIf='isLibrarianLogin()' routerLink="librarian">SHOW ALL ISSUED BOOKS <span
                class="sr-only">(current)</span></a>

        <a class="nav-link text-light " *ngIf='isStudentLogin()' routerLink="student-home">home <span
                class="sr-only">(current)</span></a>

        <a class="nav-link text-light " *ngIf='isStudentLogin()' routerLink="student-operation">show books</a>

    </ul>

    <a class="nav-link float-right text-light"  *ngIf='!isLibrarianLogin() && !isAdminLogin() && !isStudentLogin()'  routerLink="login">Login <span class="sr-only">(current)</span></a>

    <a class="nav-link text-light float-right" *ngIf='isStudentLogin()||isAdminLogin()||isLibrarianLogin()'
        routerLink="logout" (click)='logout()'>Logout</a>

</nav>

<router-outlet></router-outlet>