<nav class="navbar navbar-expand-sm navbar-dark bg-primary">


    <a class="navbar-brand" href="#">LibraryManagementSystem</a>

    <div class="fa fa-align-center" aria-hidden="true">

        <ul class="navbar-nav mr-auto mt-2 mt-lg-0"
            *ngIf='!homeclicked && !islibrarianlogin && !isadminlogin && !isstudentlogin'>

            <li class="nav-item active">

                <a class="nav-link" href="home">Home <span class="sr-only">(current)</span></a>

            </li>

        </ul>



        <ul class="navbar-nav ml-auto mt-2 mt-lg-0" *ngIf='homeclicked && !islogin'>


            <li class="nav-item active">
                <a class="nav-link" href="login">Login <span class="sr-only">(current)</span></a>
            </li>

        </ul>



    </div>
    <ul *ngIf='isadminlogin' class="navbar-nav mr-auto mt-2 mt-lg-0">

  
                    <a class="nav-link text-light " href="adduser">adduser <span class="sr-only">(current)</span></a>
               
                    <a class="nav-link text-light " href="admin-operation">showalluser <span class="sr-only">(current)</span></a>
                
    </ul>

    <ul *ngIf='islibrarianlogin'class="navbar-nav mr-auto mt-2 mt-lg-0">

       
                    <a class="nav-link text-light " href="addbook">addbook <span class="sr-only">(current)</span></a>
               
                    <a class="nav-link text-light " href="librarian-operation ">showallbooks <span
                            class="sr-only">(current)</span></a>
                            <a class="nav-link text-light "  href="librarian">showallissuedbooks <span
                                class="sr-only">(current)</span></a>
               
    </ul>


    <ul *ngIf='isstudentlogin' class="navbar-nav mr-auto mt-2 mt-lg-0" >

        <a class="nav-link text-light " href="student-operation">show books</a>
    </ul>

    
    <a  class="nav-link text-light float-right" *ngIf='isstudentlogin||isadminlogin||islibrarianlogin 'routerLink="logout" (click)='logout()'>logout</a>
</nav>