<!-- <div class="col-md-4 offset-md-4">
  <input type="search" class="form-control" placeholder="Enter owner id..."
  [(ngModel)]="selectOwner">
</div> -->


<div class="container mt-4">
    <table class="table table-border table-hover table-striped">
        <thead class="table-dark">
            <tr>
                <th>User Id</th>
                <th>User Name</th>
                <th>password</th>
                <th>Email</th>
                <th>Type</th>
                <th>update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody >
         
            <tr *ngFor="let users of allusers">
                <td>{{users.userId}}</td>
                <td>{{users.userName}}</td>
                <td>{{users.password}}</td>
                <td>{{users.emailId}}</td>
                <td>{{users.type}}</td>
                <td>
                    <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
            (click)='selectUser(users)'>
            Update
            </button>
      
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Update User</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="callGetUserData()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              
              <form #updateForm='ngForm' (ngSubmit)="update(updateForm)" >
                <input type="text" name='userId' #userId='ngModel'[(ngModel)]='selectedUser.userId'
                class="form-control mb-3">
                <input type="text" name='userName' #userName='ngModel'[(ngModel)]='selectedUser.userName'
                class="form-control mb-3" placeholder="enter user name..">
                <input type="text" name='emailId' #emailId='ngModel'[(ngModel)]='selectedUser.emailId'
                class="form-control mb-3" placeholder="enter email..">
                <input type="text" name='password' #password='ngModel'[(ngModel)]='selectedUser.password'
                class="form-control mb-3" placeholder="enter password..">
                <input type="text" name='type' #type='ngModel'[(ngModel)]='selectedUser.type'
                class="form-control mb-3" placeholder="enter type..">
               
                <div class="btn-group float-right">
                    <button type="reset" class="btn btn-outline-dark">Reset</button>
                    <button type="submit" class="btn btn-outline-dark">submit</button>
                </div>
            </form>


         </div>
          </div>
        </div>
     
      </div>
                </td>

                <td>
                        <button class="btn btn-outline-danger" (click)="delete(users)">Delete</button>
                </td>
            </tr>
        </tbody>
      
    </table>

</div>