<div class="container mt-4" >
        <table class="table table-border table-hover table-striped">
            <thead class="table-dark">
                <tr>
                    <th>transactionId</th>
                    <th>fine</th>
                    <th>issuedDate</th>
                    <th>registrationId</th>
                    <th>returnDate</th>
                    <th>status</th>
                  
                </tr>
            </thead>
            <tbody >
             
                <tr *ngFor="let books of allissued">
                    <td>{{books.transactionId}}</td>
                    <td>{{books.fine}}</td>
                    <td>{{books.issueDate}}</td>
                    <td>{{books.registrationId}}</td>
                    <td>{{books.returnDate}}</td>
                    <td>
                        <button class="btn btn-danger">returned</button>
                    </td>
                    </tr>
                    </tbody>
                    </table>
                    </div>


    