<div class="col-md-4 offset-md-4 card card-body mt-5">
    <div class="spinner-border text-success m-auto" role="status" *ngIf="isLoading">
        <span class="sr-only">Loading...</span>
    </div>

    <h3 align=center class="border-bottom"> Add User</h3>
    <form #addForm='ngForm' (ngSubmit)="add(addForm)">
        <button type="button" class="close" aria-label="Close" (click)="adminhome();">
            <span aria-hidden="true">&times;</span>
        </button>


        <div class="form-group">
            <label for="userId">Enter UserId</label>
            <input type="text" name="userId" #userId='ngModel' ngModel class="form-control mb-3"
                placeholder="Enter user Id..." required>
            <div *ngIf="userId.touched && userId.invalid">
                <p class="text-danger" *ngIf="userId.errors.required">UserId is required</p>
            </div>
        </div>


        <div class="form-group">
            <label for="userName">Enter UserName</label>
            <input type="text" name="userName" #userName='ngModel' ngModel class="form-control mb-3" pattern="[A-Za-z]*" title="name should  be string"
                placeholder="Enter the user Name..." required>
                <div class="text-danger" *ngIf="userName.errors?.pattern">
                    user name should be  string
                </div>
            <div *ngIf="userName.touched && userName.invalid">
                <p class="text-danger" *ngIf="userName.errors.required">
                    UserName is required</p>
            </div>
        </div>



        <div class="form-group">
            <label for="emailId">Enter EmailId</label>
            <input type="email" name="emailId" #emailId='ngModel' ngModel class="form-control mb-3"
                placeholder="Enter the emailId..." required email>
            <div *ngIf="emailId.touched && emailId.invalid">
                <p class="text-danger" *ngIf="emailId.errors.required">
                    emailId is required</p>
                    <p class="text-danger" *ngIf="emailId.errors.email">
                            emailId is invalid</p>
            </div>
        </div>


        <div class="form-group">
            <label for="password">Enter Password</label>
            <input type="password" name="password" #password='ngModel' ngModel   minlength="5" class="form-control mb-3" 
                placeholder="Enter the password..." required>
            <div *ngIf="password.touched && password.invalid">
                <p class="text-danger" *ngIf="password.errors.required">
                    password is required</p>
                    <p class="text-danger" *ngIf="password.errors.minlength">
                            password should have min 5 character</p>
            </div>
            
        </div>


        <div class="form-group">
            <label for="type">Enter type</label>
            <input type="text" name="type" #type='ngModel' ngModel class="form-control mb-3"
                placeholder="Enter the type..." required>
            <div *ngIf="type.touched && type.invalid">
                <p class="text-danger" *ngIf="type.errors.required">
                    type is required</p>
            </div>
        </div>


        <div class="btn-group float-right">
            <button type="reset" class="btn btn-outline-dark">Reset</button>
            <button type="submit" class="btn btn-outline-primary">Add </button>

        </div>
    </form>
</div>