<div class="col-md-4 offset-md-4">
    <input type="search" class="form-control" placeholder="enter book name..." [(ngModel)]='searchValue'>
</div>
<br><br>

<div class="card card-body col-md-3  float-left" *ngFor="let books of allbooks |filter:searchValue">
    <img src="{{books.image}}" class="card-img-top" height=200px>
    <h4 class="text-center">{{books.bookName | uppercase}}</h4>
    <h5 align=center>
        <p>bookId: {{books.bookId }}</p>
        <p>author1: {{books.author1 }}</p>
        <p>author2: {{books.author2}}</p>
        <p>publisher: {{books.publisher}}</p>
        <p>status: {{books.status}}</p>
        <p>yearOfpublication: {{books.yearOfpublication}}</p>
    </h5>

    <div>
        <!-- Button trigger modal -->
        <button *ngIf="books.status==='available'" type="button" class="btn btn-success" (click)='requestForBook(books)'>
            request
        </button>

        <button *ngIf="books.status!='available'" type="button" class="btn btn-grey" disabled>
            requested
        </button>

        <button class="btn btn-outline-danger float-right" (click)="cancel(books)">cancel</button>
    </div>
</div>