<h1 align=center>welcome to student home page</h1>

<div class="container mt-4">
    <table class="table table-border table-hover table-striped">
        <thead class="table-secondary">
            <tr>
                <th>transactionId</th>
                <th>fine</th>
                <th>issuedDate</th>
                <th>registrationId</th>
                <th>returnDate</th>
                <th>status</th>
             
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let books of issued" class="table-info">
                <td>{{books.transactionId}}</td>
                <td>{{books.fine}}</td>
                <td>{{books.issueDate}}</td>
                <td>{{books.registrationId}}</td>
                <td>{{books.returnDate}}</td>
                <td>{{books.status}}</td>
               

            </tr>
        </tbody>
    </table>

</div>